body { background :rgb(254,64,90) !important; text : white;}


.btn-upload { 
    color: #ffffff; 
    background-color: #112340; 
    border-color: #130269; 
  } 
   
  .btn-upload:hover, 
  .btn-upload:focus, 
  .btn-upload:active, 
  .btn-upload.active, 
  .open .dropdown-toggle.btn-upload { 
    color: #ffffff; 
    background-color: #1e3965; 
    border-color: #130269; 
  } 
   
  .btn-upload:active, 
  .btn-upload.active, 
  .open .dropdown-toggle.btn-upload { 
    background-image: none; 
  } 
   
  .btn-upload.disabled, 
  .btn-upload[disabled], 
  fieldset[disabled] .btn-upload, 
  .btn-upload.disabled:hover, 
  .btn-upload[disabled]:hover, 
  fieldset[disabled] .btn-upload:hover, 
  .btn-upload.disabled:focus, 
  .btn-upload[disabled]:focus, 
  fieldset[disabled] .btn-upload:focus, 
  .btn-upload.disabled:active, 
  .btn-upload[disabled]:active, 
  fieldset[disabled] .btn-upload:active, 
  .btn-upload.disabled.active, 
  .btn-upload[disabled].active, 
  fieldset[disabled] .btn-upload.active { 
    background-color: #112340; 
    border-color: #130269; 
  } 
   
  .btn-upload .badge { 
    color: #112340; 
    background-color: #ffffff; 
  }